body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.logo {
  align-items: center;
}

.logoimg {
  height: 30px;
  widows: 30px;
}

#backgroundNav {
  background: rgb(0, 0, 0) ;
  -webkit-box-shadow: 0 6px 4px -6px black;
  -moz-box-shadow: 0 6px 4px -6px black;
  box-shadow: 0 6px 4px -6px black;
  
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:1;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.divBackground {  
 background-color: black;  
 position: relative;
 overflow: hidden;
}

.videoBackground {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
}

.pimg1 {
  min-height: 100%;
}

.pimg2{
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image:url('../img/brackground2.jpg');
  min-height:400px;
}

.pimg2 h1 {
  color:whitesmoke;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.47);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.781);
}

.pimg2 h4{
  color:rgb(175, 174, 174);
}

.pimg3{
  background-color: black;
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}


.ptext{
  position:absolute;
  top:45%;
  width:100%;
  text-align:center;
  justify-content: center;
  color:#000;
  font-size:30px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.carouselDiv{
  position: relative;
  height: 70%;
  width: 70%;
  -moz-box-shadow:    3px 3px 3px 1px  rgba(0, 0, 0, 0.781);
  -webkit-box-shadow: 3px 3px 3px 1px  rgba(0, 0, 0, 0.781);
  box-shadow:         3px 3px 3px 1px  rgba(0, 0, 0, 0.781);
}

.cardTextBack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color:rgba(0, 0, 0, 0.52);
}




